In [1]:
import pandas as pd

In [2]:
#Load csv containing my library of bat calls
rawdf = pd.read_csv('haberkornlibrary.csv')

In [3]:
rawdf.columns

Index(['INDIR', 'OUTDIR', 'FOLDER', 'IN FILE', 'CHANNEL', 'OFFSET', 'DURATION',
       'OUT FILE FS', 'OUT FILE ZC', 'DATE', 'TIME', 'HOUR', 'DATE-12',
       'TIME-12', 'HOUR-12', 'AUTO ID*', 'PULSES', 'MATCHING', 'MATCH RATIO',
       'MARGIN', 'ALTERNATE 1', 'ALTERNATE 2', 'N', 'Fc', 'Sc', 'Dur', 'Fmax',
       'Fmin', 'Fmean', 'TBC', 'Fk', 'Tk', 'S1', 'Tc', 'Qual', 'FILES',
       'MANUAL ID', 'ORGID', 'USERID', 'REVIEW ORGID', 'REVIEW USERID',
       'INPATHMD5', 'OUTPATHMD5FS', 'OUTPATHMD5ZC'],
      dtype='object')

In [4]:
rawdf.shape

(4366, 44)

In [5]:
#Make dataframe with appropriate columns
rawdf = rawdf[['AUTO ID*', 'PULSES', 'MATCH RATIO', 'MARGIN', 'Fc', 'Sc', 'Dur', 'Fmax', 'Fmin', 'Fk', 'Tk', 'Tc', 'S1']]
print(rawdf.head())

  AUTO ID*  PULSES  MATCH RATIO    MARGIN      Fc      Sc    Dur    Fmax  \
0   ANTPAL    84.0        0.405  0.115610  34.398  100.16  4.531  61.385
1   ANTPAL    47.0        0.404  0.134245  31.921   60.16  4.705  50.442
2   ANTPAL    39.0        0.436  0.125273  37.542   85.40  5.815  59.703
3   CORTOW     8.0        1.000  0.819184  32.611  129.86  2.517  39.068
4   EPTFUS    42.0        0.667  0.332389  29.837   38.90  6.799  47.328

     Fmin      Fk     Tk     Tc      S1
0  33.315  36.758  3.281  4.244  449.37
1  31.128  33.465  3.509  4.386  385.39
2  35.288  40.107  3.772  5.028  242.96
3  27.399  36.423  0.491  1.406  243.54
4  28.696  31.290  4.427  6.073  301.72

In [6]:
#Add column for bandwidth of call.  Bandwidth is the difference between the maximum and minimum frequency of the call.
rawdf['BWDth'] = rawdf['Fmax'] - rawdf['Fmin']

#Add column for percent of call that contains the main body of the call.
rawdf['PkDur'] = ((rawdf['Tc'] - rawdf['Tk']) / rawdf['Dur']) * 100

In [7]:
print(rawdf.head())

  AUTO ID*  PULSES  MATCH RATIO    MARGIN      Fc      Sc    Dur    Fmax  \
0   ANTPAL    84.0        0.405  0.115610  34.398  100.16  4.531  61.385
1   ANTPAL    47.0        0.404  0.134245  31.921   60.16  4.705  50.442
2   ANTPAL    39.0        0.436  0.125273  37.542   85.40  5.815  59.703
3   CORTOW     8.0        1.000  0.819184  32.611  129.86  2.517  39.068
4   EPTFUS    42.0        0.667  0.332389  29.837   38.90  6.799  47.328

     Fmin      Fk     Tk     Tc      S1   BWDth      PkDur
0  33.315  36.758  3.281  4.244  449.37  28.070  21.253586
1  31.128  33.465  3.509  4.386  385.39  19.314  18.639745
2  35.288  40.107  3.772  5.028  242.96  24.415  21.599312
3  27.399  36.423  0.491  1.406  243.54  11.669  36.352801
4  28.696  31.290  4.427  6.073  301.72  18.632  24.209443

In [8]:
rawdf['AUTO ID*'].value_counts()

Noise     3625
NoID       310
TADBRA      96
MYOCIL      74
LASXAN      60
LASCIN      51
EPTFUS      47
LASNOC      30
PARHES      25
NYCFEM      20
LASBLO       6
MYOVEL       5
MYOCAL       4
ANTPAL       3
NYCMAC       3
EUMUND       2
MYOVOL       2
MYOOCC       2
CORTOW       1
Name: AUTO ID*, dtype: int64

In [9]:
#Drop noise data from call library
noise_index = rawdf[rawdf['AUTO ID*'] == 'Noise'].index
rawdf.drop(noise_index, inplace = True)

In [10]:
#Filtering out low quality recordings 
match_index = rawdf[rawdf['MATCH RATIO'] < 0.4].index
rawdf.drop(match_index, inplace = True)

In [11]:
rawdf['AUTO ID*'].value_counts()

TADBRA    58
LASXAN    54
MYOCIL    49
LASCIN    46
LASNOC    29
PARHES    24
NYCFEM    20
EPTFUS    18
LASBLO     5
MYOCAL     4
MYOVEL     3
ANTPAL     3
NYCMAC     3
MYOOCC     1
CORTOW     1
MYOVOL     1
Name: AUTO ID*, dtype: int64

In [12]:
rawdf.shape

(319, 15)

In [13]:
#Load excel file of Mexican bat call library

raw2 = pd.ExcelFile('Mexicolibrary.xlsx')

In [14]:
raw2.sheet_names

['Classifier1', 'Classifier2', 'Classifier3', 'Classifier4']

In [15]:
#Parse single excel sheet for dataframe

rawdf2 = raw2.parse('Classifier1')

rawdf2.head()

,Folds,File,Owner,Family,Genus,Spp,Guild,Country,Quality,CallDuration,...,AmpK.end,AmpKurtosis,AmpSkew,AmpVariance,AmpMoment,AmpGausR2,HiFminusStartF,FcMinusEndF,RelPwr2ndTo1st,RelPwr3rdTo1st
0,4,Anogeo-456-Maple_M00012,VZG,Phyllostomidae,Anoura,Anogeo,6,Mexico,0.434226,2.503670,...,6.150363,2.451373,-0.529526,0.010571,0.010490,0.831160,0.0,2.154368,0.298995,0.241145
1,4,Anogeo-456-Maple_M00012,VZG,Phyllostomidae,Anoura,Anogeo,6,Mexico,0.519223,2.547593,...,5.633335,2.100453,-0.385202,0.015818,0.015703,0.786119,0.0,4.185747,0.243366,0.231044
2,4,Anogeo-456-Maple_M00012,VZG,Phyllostomidae,Anoura,Anogeo,6,Mexico,0.631567,2.312634,...,7.589906,2.002653,-0.589580,0.021116,0.020946,0.987820,0.0,5.651484,0.166177,0.169072
3,4,Anogeo-456-Maple_M00012,VZG,Phyllostomidae,Anoura,Anogeo,6,Mexico,0.367486,2.233911,...,10.733286,1.874619,-0.580224,0.010325,0.010238,0.849326,0.0,2.085766,0.365763,0.128119
4,4,Anogeo-456-Maple_M00012,VZG,Phyllostomidae,Anoura,Anogeo,6,Mexico,0.590776,1.625190,...,8.439277,1.710580,0.189370,0.018930,0.018697,0.807531,0.0,1.871421,0.341701,0.000000

In [16]:
rawdf2.shape

(4685, 81)

In [17]:
rawdf2.columns

Index(['Folds', 'File', 'Owner', 'Family', 'Genus', 'Spp', 'Guild', 'Country',
       'Quality', 'CallDuration', 'Fc', 'HiFreq', 'LowFreq', 'Bndwdth',
       'FreqMaxPwr', 'PrcntMaxAmpDur', 'TimeFromMaxToFc', 'FreqKnee',
       'PrcntKneeDur', 'StartF', 'EndF', 'DominantSlope', 'SlopeAtFc',
       'StartSlope', 'EndSlope', 'SteepestSlope', 'LowestSlope', 'TotalSlope',
       'HiFtoKnSlope', 'KneeToFcSlope', 'CummNmlzdSlp', 'HiFtoFcExpAmp',
       'HiFtoFcDmp', 'KnToFcExpAmp', 'KnToFcDmp', 'HiFtoKnExpAmp',
       'HiFtoKnDmp', 'FreqLedge', 'LedgeDuration', 'FreqCtr', 'FBak32dB',
       'FFwd32dB', 'FBak20dB', 'FFwd20dB', 'FBak15dB', 'FFwd15dB', 'FBak5dB',
       'FFwd5dB', 'Bndw32dB', 'Bndw20dB', 'Bndw15dB', 'Bndw5dB', 'DurOf32dB',
       'DurOf20dB', 'DurOf15dB', 'DurOf5dB', 'Amp1stQrtl', 'Amp2ndQrtl',
       'Amp3rdQrtl', 'Amp4thQrtl', 'Amp1stMean', 'Amp2ndMean', 'Amp3rdMean',
       'Amp4thMean', 'LnExpA_StartAmp', 'LnExpB_StartAmp', 'AmpStartLn60ExpC',
       'LnExpA_EndAmp', 'LnExpB_EndAmp', 'AmpEndLn60ExpC', 'AmpK.start',
       'AmpK.end', 'AmpKurtosis', 'AmpSkew', 'AmpVariance', 'AmpMoment',
       'AmpGausR2', 'HiFminusStartF', 'FcMinusEndF', 'RelPwr2ndTo1st',
       'RelPwr3rdTo1st'],
      dtype='object')

In [18]:
#Putting together columns to match rawdf

rawdf2 = rawdf2[['Spp', 'Fc', 'SlopeAtFc', 'CallDuration', 'HiFreq', 'LowFreq', 'FreqKnee', 'TimeFromMaxToFc', 'StartSlope', 'Bndwdth', 'PrcntKneeDur']]

In [19]:
rawdf2.head()

,Spp,Fc,SlopeAtFc,CallDuration,HiFreq,LowFreq,FreqKnee,TimeFromMaxToFc,StartSlope,Bndwdth,PrcntKneeDur
0,Anogeo,69.618386,12.657634,2.503670,109.488419,67.464018,81.747286,0.756463,-29.635308,42.024402,50.579266
1,Anogeo,68.805459,13.402673,2.547593,109.014483,64.619712,80.822997,0.893621,-37.794947,44.394771,47.608501
2,Anogeo,70.297715,15.542078,2.312634,109.447511,64.646231,83.699015,0.734879,-33.103609,44.801280,43.624168
3,Anogeo,71.891085,13.028367,2.233911,113.408873,69.805319,84.027946,1.069576,-41.348016,43.603553,49.564504
4,Anogeo,73.410948,13.648997,1.625190,107.204335,71.539526,82.883904,0.842277,-30.690332,35.664809,54.997229

In [20]:
#Change column names to match rawdf 

rawdf2.columns = ['Spp', 'Fc', 'Sc', 'Dur', 'Fmax', 'Fmin', 'Fk', 'Tk', 'S1', 'BWDth', 'PkDur']

rawdf2.head()

,Spp,Fc,Sc,Dur,Fmax,Fmin,Fk,Tk,S1,BWDth,PkDur
0,Anogeo,69.618386,12.657634,2.503670,109.488419,67.464018,81.747286,0.756463,-29.635308,42.024402,50.579266
1,Anogeo,68.805459,13.402673,2.547593,109.014483,64.619712,80.822997,0.893621,-37.794947,44.394771,47.608501
2,Anogeo,70.297715,15.542078,2.312634,109.447511,64.646231,83.699015,0.734879,-33.103609,44.801280,43.624168
3,Anogeo,71.891085,13.028367,2.233911,113.408873,69.805319,84.027946,1.069576,-41.348016,43.603553,49.564504
4,Anogeo,73.410948,13.648997,1.625190,107.204335,71.539526,82.883904,0.842277,-30.690332,35.664809,54.997229

In [21]:
#Comparing the columns of the two dataframes.  rawdf has AUTO ID* which will be changed to Spp.  PULSES, MATCH RATIO, MARGIN, and Tc will be removed later.

rawdf.head()

,AUTO ID*,PULSES,MATCH RATIO,MARGIN,Fc,Sc,Dur,Fmax,Fmin,Fk,Tk,Tc,S1,BWDth,PkDur
0,ANTPAL,84.0,0.405,0.115610,34.398,100.16,4.531,61.385,33.315,36.758,3.281,4.244,449.37,28.070,21.253586
1,ANTPAL,47.0,0.404,0.134245,31.921,60.16,4.705,50.442,31.128,33.465,3.509,4.386,385.39,19.314,18.639745
2,ANTPAL,39.0,0.436,0.125273,37.542,85.40,5.815,59.703,35.288,40.107,3.772,5.028,242.96,24.415,21.599312
3,CORTOW,8.0,1.000,0.819184,32.611,129.86,2.517,39.068,27.399,36.423,0.491,1.406,243.54,11.669,36.352801
4,EPTFUS,42.0,0.667,0.332389,29.837,38.90,6.799,47.328,28.696,31.290,4.427,6.073,301.72,18.632,24.209443

In [22]:
rawdf2['Spp'].value_counts()

Permac    100
Rhynas    100
Nycfem    100
Artjam    100
Lasnoc    100
Myokea    100
Lasxan    100
Antpal    100
Pteper    100
Myothy    100
Piphes    100
Cormex    100
Myoaur    100
Eptfus    100
Mormeg    100
Eptfur    100
Nychum    100
Rhoaen    100
Idiphy    100
Pipsub    100
Myovel    100
Myovol    100
Balpli    100
Sacbil    100
Myocal    100
Cortow    100
Ptedav    100
Tadbra    100
Lasblo    100
Lepyer    100
Lascin    100
Saclep    100
Myoyum    100
Ptepar    100
Natstr     97
Stulud     95
Desrot     94
Molmol     91
Noclep     81
Tracir     74
Myomel     73
Maccal     69
Eptbra     64
Nyclat     57
Artlit     55
Stulil     51
Anogeo     48
Ptegym     47
Lasbor     47
Molruf     36
Molsin     33
Thytri     31
Rhopar     27
Balio      22
Carper     22
Nycmac     22
Procen     18
Eumund     16
Lasega     15
Name: Spp, dtype: int64

In [38]:
#List of species to retain in Mexican bat call library

common_species = ['Maccal', 'Lepyer', 'Antpal', 'Cortow', 'Eptfus', 'Eumund', 'Lasnoc', 'Lasblo', 'Lasxan', 'Myocal', 'Myothy', 'Myovel', 'Myovol', 'Myoyum', 'Nycfem', 'Tadbra', 'Piphes']

In [39]:
rdf2 = rawdf2.loc[rawdf2['Spp'].isin(common_species),:]

In [40]:
rdf2.shape

(1585, 11)

In [41]:
rdf2['Spp'].value_counts()

Lasnoc    100
Myothy    100
Myovol    100
Myovel    100
Myocal    100
Tadbra    100
Lepyer    100
Eptfus    100
Piphes    100
Myoyum    100
Cortow    100
Lasblo    100
Antpal    100
Lasxan    100
Nycfem    100
Maccal     69
Eumund     16
Name: Spp, dtype: int64